---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="Inventario Congelador">
	<main>
		<Menu/>
		<ul role="list" class="link-card-grid">
			<Card
				img="/img/croissant.svg"
				descImg="/img/croissant.svg"
				title="Croassant"
				body="Learn how Astro works and explore the official API docs."
				items="1"
			/>
			<Card
				img="/img/croissant.svg"
				descImg="/img/croissant.svg"
				title="Croassant"
				body="Supercharge your project with new frameworks and libraries."
				items="1"
			/>
			<Card
				img="/img/croissant.svg"
				descImg="/img/croissant.svg"
				title="Croassant"
				body="Explore a galaxy of community-built starter themes."
				items="1"
			/>
			<Card
				img="/img/croissant.svg"
				descImg="/img/croissant.svg"
				title="Croassant"
				body="Come say hi to our amazing Discord community. ❤️"
				items="999"

			/>
			<Card
				img="/img/croissant.svg"
				descImg="/img/croissant.svg"
				title="Croassant de Jamon york"
				body="Learn how Astro works and explore the official API docs."
				items="90909"
			/>
			<Card
				img="/img/croissant.svg"
				descImg="/img/croissant.svg"
				title="Croassant chocolate blanco con cereza y jamon"
				body="Supercharge your project with new frameworks and libraries."
				items="23"
			/>
			<Card
				img="/img/croissant.svg"
				descImg="/img/croissant.svg"
				title="Croassant"
				body="Explore a galaxy of community-built starter themes."
				items="23"
			/>
			<Card
				img="/img/croissant.svg"
				descImg="/img/croissant.svg"
				title="Croassant"
				body="Come say hi to our amazing Discord community. ❤️"
				items="45"

			/>
			<Card
				img="/img/croissant.svg"
				descImg="/img/croissant.svg"
				title="Croassant"
				body="Learn how Astro works and explore the official API docs."
				items="123"
			/>
			<Card
				img="/img/croissant.svg"
				descImg="/img/croissant.svg"
				title="Croassant"
				body="Supercharge your project with new frameworks and libraries."
				items="123"
			/>
			<Card
				img="/img/croissant.svg"
				descImg="/img/croissant.svg"
				title="Croassant"
				body="Explore a galaxy of community-built starter themes."
				items="999"
			/>
			<Card
				img="/img/croissant.svg"
				descImg="/img/croissant.svg"
				title="Croassant"
				body="Come say hi to our amazing Discord community. ❤️"
				items="999"

			/>
			<Card
				img="/img/croissant.svg"
				descImg="/img/croissant.svg"
				title="Croassant"
				body="Learn how Astro works and explore the official API docs."
				items="999"
			/>
			<Card
				img="/img/croissant.svg"
				descImg="/img/croissant.svg"
				title="Croassant"
				body="Supercharge your project with new frameworks and libraries."
				items="999"
			/>
			<Card
				img="/img/croissant.svg"
				descImg="/img/croissant.svg"
				title="Croassant"
				body="Explore a galaxy of community-built starter themes."
				items="999"
			/>
			<Card
				img="/img/croissant.svg"
				descImg="/img/croissant.svg"
				title="Croassant"
				body="Come say hi to our amazing Discord community. ❤️"
				items="999"

			/>
			
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		background-color: #3b3535;
	}
	ul {
		margin-top:0;
	}
	@media (max-width: 700px) {
		.link-card-grid {
			margin-right: 50px;
		}
	}
	.link-card-grid {
		
        flex-wrap: wrap;
		padding-inline-start: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 20px;
		
	}
</style>
 